@import 'utility';

.account{
    form {
        margin: auto;
        position: relative;
        top: 50px;
        width: 700px;
        height: 800px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        border: 1px solid $budget-border-color1;
        color: $budget-font-color1;
        background: $budget-color1;
        font-weight: bold;
    }
    .control{
        width: 49.2%;
        height: 28px;
        margin: 5px 0px 10px 0px;
        &.ng-invalid.ng-touched{
            border-color: red;
            outline: none;
        }
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
    hr{
        border:1px solid $budget-border-color1;
        width:75%;
    }
    .numbered-circle {
        background-color:#184b83;
        height:25px;
        width:25px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        text-align: center;
        margin: 5px 0px 5px 0px;
        color: $budget-font-color2;
    }
    .section-text{
        position:relative; 
        left:30px; 
        top: -28px; 
        color: $budget-font-color2; 
        height:0px;
    }
    .message-arrow-right:before{
	    content: ' ';
	    position: absolute;
	    width: 0;
	    height: 0;
        left: auto;
        right:-16px;
        top: 5px;
	    border: 8px solid;
	    border-color: $budget-border-color1 transparent transparent $budget-border-color1;
    }
    .message-arrow-right:after{
	    content: ' ';
	    position: absolute;
	    width: 0;
	    height: 0;
        left: auto;
        right: -14px;
        top: 6px;
	    border: 7px solid;
	    border-color: $budget-color2 transparent transparent $budget-color2;
    }
    .message-arrow-left:before{
	    content: ' ';
	    position: absolute;
	    width: 0;
	    height: 0;
        left: -16px;
        right:auto;
        top: 5px;
	    border: 8px solid;
	    border-color: $budget-border-color1 $budget-border-color1 transparent transparent;
    }
    .message-arrow-left:after{
	    content: ' ';
	    position: absolute;
	    width: 0;
	    height: 0;
        left: -14px;
        right: auto;
        top: 6px;
	    border: 7px solid;
	    border-color: $budget-color2 $budget-color2 transparent transparent;
    }
    .bubble{
        position: absolute;
        width: auto;
        height: auto;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        border: 1px solid $budget-border-color1;
        background: $budget-color2;
    }
    .message-bubble {
        padding: 5px 10px 5px 10px;
        color: $budget-font-color1;
        display: inline-table;
    }
    .password-bubble {
        padding: 0px 10px 0px 0px;
        color: $budget-font-color1;
        ul{
            padding-left: 25px;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 0px
    }
    button{
        position: relative;
        top: 6px;
    }
}