$budget-background: #191919;
$budget-color1: #585757; //#1d212a;
$budget-color2: #383737; //#14161d;
$budget-border-color1: #6c6c6c; //#999;
$budget-border-color2: #5a5a5a;
$budget-font-color1: #b7b7b7;
$budget-font-color2: #e6e6e6;
$button-color: #222222;
$button-color-hover: #414142;
