body {
  background-color: #3c3c3c; }

form {
  background: #1d212a;
  margin: auto;
  position: relative;
  top: 50px;
  width: 700px;
  height: 800px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  color: #b7b7b7; }
  form .control {
    background-color: #151515;
    color: #e6e6e6;
    border: 1px solid #828282;
    font-size: 14px;
    text-indent: 5px;
    height: 28px;
    margin: 5px 0px 10px 0px; }
  form .width-50 {
    width: 49.2%; }
  form .float-left {
    float: left; }
  form .float-right {
    float: right; }
  form .add-employer {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #939393; }
  form .add-employer-text:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline; }
  form h2 {
    text-align: center;
    margin-bottom: 0px; }
  form select {
    text-indent: 0px !important; }
  form button {
    background-color: #32475b;
    border: none;
    color: #bababa;
    font-size: 14px; }
  form button:hover {
    background-color: #506f8d;
    cursor: pointer;
    color: #ffffff; }
  form .remove-text {
    position: relative;
    top: -15px;
    left: 600px;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    color: #bbbbbb;
    height: 0px;
    width: 0px; }
  form .remove-text:hover {
    color: #ffffff;
    cursor: pointer; }
  form hr {
    border: 1px solid #808080;
    width: 75%; }
  form .numbered-circle {
    background-color: #184b83;
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    margin: 5px 0px 5px 0px;
    color: white; }
  form .section-text {
    position: relative;
    left: 30px;
    top: -28px;
    color: white;
    height: 0px; }
  form .content-container {
    background-color: #14161d;
    border: 1px solid #5a5a5a;
    overflow: auto;
    margin-top: 5px; }
  form fieldset {
    background-color: #1d212a;
    margin: 5px 10px 5px 10px;
    border: 1px dashed white;
    padding-right: 5px; }
  form .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 650px; }
  form .flex-control {
    width: 638px;
    margin: 0px 5px 0px 5px; }
  form .radio-group {
    text-align: center;
    margin-bottom: 5px; }
  form ::-webkit-scrollbar {
    width: 15px; }
  form ::-webkit-scrollbar-track {
    background: #151515;
    border: 1px solid #333232; }
  form ::-webkit-scrollbar-thumb {
    background: #464a53;
    border: 1px solid #868686; }

