body {
    margin: 0px;
    table{
        position: relative; 
        top: 13px; 
        border-collapse:collapse;
        td{
            padding: 0px;
            background-color: blue;
            &.envelopes-container{
                position: relative; 
                width: 139px;
                height: 924px;
                .envelope-list{
                    position: absolute;
                    top: 0px;
                }
            }
            &.content-container{
                width: 1453px;
            }
            &.buttons-container{
                width: 328px;
            }
        }
        
    }
}
