<div class="content-container" style="height: {{itemText.height}}px">
    <div ng-repeat="currentItem in items">

        <fieldset>
            <legend>{{itemText.legend}} {{$index + 1}}:</legend>

            <!--Remove-->
            <div ng-click="removeItem($index)" class="remove-text">Remove</div>


            <!--Type-->
            <div class="radio-group">
                {{itemText.radioTitle}}
                <input type="radio" ng-model="currentItem.type" ng-value="0">{{itemText.radio1}}
                <input type="radio" ng-model="currentItem.type" ng-value="1">{{itemText.radio2}}
            </div>

            <!--Name & currency text boxes-->
            <div class="flex-container">
                <input ng-class="{'ng-touched': form.$submitted, 'ng-untouched': !form.$submitted}"  class="control flex-control" ng-model="currentItem.name" placeholder="{{itemText.name}}" required set-name="{{itemText.itemName}}" name-index="{{$index}}" num-items="{{items.length}}">
                <input ng-class="{'ng-touched': form.$submitted, 'ng-untouched': !form.$submitted}"  ng-if="currentItem.type === 0" class="control flex-control" type="number" step="0.01" ng-model="currentItem.currency" placeholder="{{itemText.currency}}" required set-name="{{itemText.currencyName}}" name-index="{{$index}}" num-items="{{items.length}}">
            </div>

            
            <!--Required messages-->
            <span ng-show="form.{{itemText.itemName + $index}}.$error.required && (form.{{itemText.itemName + $index}}.$touched || form.$submitted)" class="float-left error-text">*{{itemText.name}} is required</span>
            <span ng-show="form.{{itemText.currencyName + $index}}.$error.required && (form.{{itemText.currencyName + $index}}.$touched || form.$submitted)" class="float-right error-text">*{{itemText.currency}} is required</span>

            <div style="clear: both" ng-show="currentItem.type === 0">
                <!--Pay Period Frequency-->
                <div align="center">
                    {{itemText.frequency}}
                    <select class="control" ng-model="currentItem.period.frequency">
                        <option ng-repeat="frequency in ctrl.frequency" ng-value="frequency.id">{{frequency.name}}</option>
                    </select>
                </div>

                <div align="center">
                    <!--Weekly & Bi-Weekly-->
                    <span ng-show="currentItem.period.frequency === 1">{{itemText.weekly}}</span>
                    <span ng-show="currentItem.period.frequency === 2">{{itemText.biWeekly}}</span>
                    <select class="control" ng-model="currentItem.period.dayOfWeek" ng-show="currentItem.period.frequency === 1 || currentItem.period.frequency === 2">
                        <option ng-repeat="day in ctrl.daysOfWeek" ng-value="day.id">{{day.name}}</option>
                    </select>

                    <!--Semi-Monthly & Monthly-->
                    <span ng-show="currentItem.period.frequency === 3 || currentItem.period.frequency === 4">{{itemText.monthly}}</span>
                    <select class="control" ng-model="currentItem.period.dayOfMonth1" ng-show="currentItem.period.frequency === 3 || currentItem.period.frequency === 4">
                        <option ng-repeat="day in ctrl.daysOfMonth" ng-value="day.id">{{day.name}}</option>
                    </select>
                    <span ng-show="currentItem.period.frequency === 3">&</span>
                    <select class="control" ng-model="currentItem.period.dayOfMonth2" ng-show="currentItem.period.frequency === 3">
                        <option ng-repeat="day in ctrl.daysOfMonth" ng-value="day.id">{{day.name}}</option>
                    </select>


                    <!--Semi-Annually & Annually-->
                    <span ng-show="currentItem.period.frequency === 6 || currentItem.period.frequency === 7">{{itemText.annually}}</span>

                    <select class="control" ng-model="currentItem.period.month1" ng-show="currentItem.period.frequency === 6 || currentItem.period.frequency === 7">
                        <option ng-repeat="month in ctrl.months" ng-value="month.id">{{month.name}}</option>
                    </select>

                    <select class="control" ng-model="currentItem.period.dayOfMonth1" ng-show="currentItem.period.frequency === 6 || currentItem.period.frequency === 7">
                        <option ng-repeat="day in ctrl.daysOfMonth" ng-value="day.id">{{day.name}}</option>
                    </select>

                    <span ng-show="currentItem.period.frequency === 6">&</span>

                    <select class="control" ng-model="currentItem.period.month2" ng-show="currentItem.period.frequency === 6">
                        <option ng-repeat="month in ctrl.months" ng-value="month.id">{{month.name}}</option>
                    </select>

                    <select class="control" ng-model="currentItem.period.dayOfMonth2" ng-show="currentItem.period.frequency === 6">
                        <option ng-repeat="day in ctrl.daysOfMonth" ng-value="day.id">{{day.name}}</option>
                    </select>
                </div>


                <!--Period Start-->
                <div align="center">
                    <span style="font-style:italic; font-size: 12px" ng-show="currentItem.period.frequency === 2">{{itemText.periodStart}}</span>
                    <div align="center">
                        <input class="control" ng-show="currentItem.period.frequency === 2" type="date" ng-model="currentItem.period.periodStart">
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
    <!--Add Item-->
    <div class="add-item" ng-click="addItem()"> <span class="add-item-text">{{itemText.add}}</span></div>
</div>