<div class="modal">
    <div class="prompt-base">
        <div class="prompt-header">
            {{promptTitle}}
        </div>
        <div class="prompt-message">
            {{promptMessage}}
        </div>
        <div class="prompt-button-container flex-container">
            <button ng-click="accept()" type="button" style="padding: 5px; margin: 0 10px 20px 10px; border-radius: 5px; background: #292b30; border: 1px solid #42485e">{{acceptLabel}}</button>
            <button ng-click="decline()" ng-hide="promptTitle === 'Alert'" type="button" style="padding: 5px; margin: 0 10px 20px 10px; border-radius: 5px; background: #292b30; border: 1px solid #42485e">{{declineLabel}}</button>
        </div>
    </div>
</div>