<div class="budget">
    <div class="main-container">
        <div class="left-panel">
            <div class="title-bar">Gabe's Account</div>
            <div class="panel-content">
                <div class="sub-section">
                    <span class="title">Balance:</span>
                    <span class="amount">$7530.22</span>
                </div>
                <div class="title-bar">Envelopes</div>
                <div class="envelopes-container">
                    <div class="envelopes-row">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                        <span class="title">Groceries</span>
                        <span class="amount">$350.22</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-panel">
            <div class="title-bar">Groceries</div>
            <div class="panel-content">
                <div class="sub-section"></div>
            </div>
        </div>
        <div class="right-panel">
            <div class="title-bar">Envelope Settings</div>
            <div class="panel-content"></div>
        </div>
    </div>
</div>