<div class="budget">
    <div class="main-container">
        <div class="left-panel">
            <div class="title-bar">Account</div>
            <div class="account-envelopes-container">
                <div class="account-section"></div>
                <div class="title-bar">Envelopes</div>
                <div class="envelopes-container">
                    <div class="envelopes-row">
                        <span class="fa fa-envelope" aria-hidden="true" style="color: white; margin-left: 8px"></span>
                        <span style="margin-left: 5px; font-size: 12px">Groceries</span>
                        <span style="float: right; padding-right: 8px; font-size: 12px; color: #00ff00">$350.22</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content"></div>
        <div class="right-panel"></div>
    </div>
</div>