<div class="login" ng-controller="LoginController">
    <form novalidate name="form">
        <h1>Login</h1>
        <hr />
        <input name="email" type="text" class="control" placeholder="Email" autofocus="autofocus" ng-model="email" required/>
        <input name="password" type="password" class="control" placeholder="Password" ng-model="password" required/>
        <button type="submit" ng-click="login()">Login</button>
        <div class="link" align="center" ng-click="createAccount()">Create an account</div>
    </form>
</div>
